!/.bloop/
!/.idea/
!/.metals/
!/.vscode/

*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
**/target
/project/.bloop/scala-cats-effect-training-build.json
/project/.bloop/bloop.settings.json
